<div class="container">
<form class="d-flex flex-column mx-auto mt-5 col-4" (ngSubmit)="onSubmit()" [formGroup]="formulaire">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nom du meme</mat-label>
      <input matInput placeholder="Ex. Pizza" value="" formControlName="nom"/>
      <mat-error *ngIf="formulaire.get('nom')?.hasError ('minlength')">Minimum 3 caractères</mat-error>
      <mat-error *ngIf="formulaire.get('nom')?.hasError('required')">le nom et obligatoire</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description meme</mat-label>
      <textarea matInput placeholder="Ex.Meme quand on doute" formControlName="description"></textarea>
      <mat-error >la description est obligatoire</mat-error>
    </mat-form-field>
  <div>
      <input #inputImage type="file" style="display: none" (change)="onFichierChange($event)">
      {{fichier?.name || "Aucun fichier sélectionné"}}
      <button mat-mini-fab color="primary" (click)="$event.preventDefault(); inputImage.click()">
        <mat-icon>attach_file</mat-icon>
        </button>
  </div>
    <button mat-raised-button color="primary">Ajouter</button>
  </form>
</div>
 